
.vs/WorldWideGamerMVC/v15/sqlite3/storage.ide
*.ide
.vs/WorldWideGamerMVC/v15/.suo
*.config
.vs/config/applicationhost.config
*.cache
*.pdb
*.dll
.vs/WorldWideGamerMVC/v15/sqlite3/storage.ide
.vs/WorldWideGamerMVC/v15/.suo
.vs/config/applicationhost.config
.vs/WorldWideGamerMVC/v15/.suo
.vs/config/applicationhost.config
.vs/WorldWideGamerMVC/v15/.suo
.vs/WorldWideGamerMVC/v15/sqlite3/storage.ide
FillDatabaseTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.pdb
*.cache
*.dll
.vs/WorldWideGamerMVC/v15/.suo
