
.vs/WorldWideGamerMVC/v15/sqlite3/storage.ide
*.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
*.dll
*.dll
*.cache
WorldWideGamerMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
