@using WorldWideGamerMVC.ViewModels
@model WorldWideGamerMVC.ViewModels.GameViewModel
    @{
        ViewBag.Title = "GameOverzicht";
    }

    <h2>GameOverzicht</h2>

<hr />
<div>
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered table-hover table-condensed sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Games</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Games</th>
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
